* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 9em 0;
  p,
  h1 {
    font-family: "Poppins";
    color: #333;
  }

  h1 {
    margin-bottom: 1em;
    color: black;
  }

  p {
    line-height: 2.1em;
  }
}

.mainview {
  // height: 90vh;

  .name {
    display: flex;
    align-items: center;
  }

  .introtext {
    color: black;
  }
  .profileimage {
    display: block;

    img {
      // box-shadow: -1px 1px 12px 6px #ecf0f3;
      box-shadow: -2px 8px 11px 3px #ecf0f3;
    }
  }

  .calltoaction {
    display: grid;
    place-content: center;

    .emailbutton {
      padding: 1em 2em;
      outline: none;
      border: 2px solid #fff;
      background-color: white;
      display: block;
      color: #666;
      box-shadow: -1px 1px 12px 6px #ecf0f3;

      text-transform: uppercase;
      border-radius: 50px;
      margin: 2em 0;
    }

    .emailbutton:hover {
      background-color: black;
      color: white;
      transition: 0.5s;
    }
  }
}

nav {
  background-color: #f5f5f5 !important;
  color: gray !important;

  .navbar-brand {
    color: #5d5d5c;
    font-weight: bold;
    text-transform: uppercase;
  }

  .collapse {
    ul {
      .active {
        color: yellow !important;
      }
      li {
        a {
          color: #60636b;
        }
      }
    }
  }
}

.schoolbackground {
  padding-top: 2em;
}
